#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;

  aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 2.3rem;
      font-weight: 800;
      line-height: 2.6rem;
      margin-top: 40px;
    }

    p {
      line-height: 1.75rem;
      margin-top: 1.5rem;
    }

    footer {
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;

      strong {
        font-weight: 800;
      }
    }
  }

  .create-orphanage {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background: #15c3d6;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: background-color 0.2s;
    z-index: 999;

    &:hover {
      background: #17d6ed;
    }
  }

  .map-popup {
    .leaflet-popup-content-wrapper {
      background: rgba(255,255,255,0.8);
      border-radius: 20px;
      box-shadow: none;
    }

    .leaflet-popup-tip-container {
      display: none;
    }

    .leaflet-popup-content {
      color: #0089a5;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 8px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: 40px;
        height: 40px;
        background: #15c3d6; 
        box-shadow: 17.2868px 27.6589px 41.488px rgba(23, 142, 166, 0.16);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


@media (max-width: 768px) {
  #page-map {
    aside {  
      header {
        img {
          width: 14%;
        }

        h2 {
          font-size: 2rem;
          margin-top: 20px;
          max-width: 90%;
        }

        p {
          margin-top: 10px;
        }
      }
      padding: 5%;
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 99999;
      max-height: 40vh;

      footer {
        position: absolute;
        right: 5%;
        top: 10%;
      }
    }
  }
}